<!DOCTYPE html>
<html lang="en" ng-app = "moduleApp">
  <head>
    <meta charset="utf-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <!-- Referencia al archivo donde esta el codigo js del controlador -->
    <script src="Controllers/MainController.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <title>Sineti | Inicio </title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Sineti</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Inicio</a>
						</li>
						<li>
							<a href="#">Grupo Sineti</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Quienes somos</a>
								</li>
              </li>
              <li class="divider">
              </li>
								<li>
									<a href="#">Nuestros servicios</a>
								</li>
              </li>
              <li class="divider">
              </li>
								<li>
									<a href="#">Ventajas conpetitivas</a>
								</li>
								<li class="divider">
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input class="form-control" type="text">
						</div>
						<button type="submit" class="btn btn-default">
							Buscar
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacto<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Nuestras oficinas</a>
								</li>
                <li class="divider">
								</li>
								<li>
									<a href="#">Contacto empresarial</a>
								</li>
                <li class="divider">
								</li>
								<li>
									<a href="#">Bolsa de trabajo</a>
								</li>

							</ul>
						</li>
					</ul>
				</div>

			</nav>
			<div class="jumbotron">
        <img src="pictures/sineti.jpg">
				<h2>
					Bienvenido a Sineti!
				</h2>
				<p>
					Sineti® es una Organización Mexicana formada por profesionales con más de 19 años de experiencia en SAP®.
          Iniciamos en 1996 trabajando en las primeras implementaciones de SAP® en nuestro País.
          Nuestra experiencia en proyectos en México, EUA, Centro y Sudamérica,
          fortalecen nuestro conocimiento en diversas industrias. Somos partners de SAP® desde 2009.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
      <center>
      <h2 color = "green">
				Login
			</h2>
      </center>
			<form role="form">
				<div class="form-group">

					<label for="exampleInputEmail1">
						Correo electronico
					</label>
					<input class="form-control" id="exampleInputEmail1" type="email">
				</div>
				<div class="form-group">

					<label for="exampleInputPassword1">
						Contraseña
					</label>
					<input class="form-control" id="exampleInputPassword1" type="password">
				</div>
				<div class="form-group">
          <!--
					<label for="exampleInputFile">
						File input
					</label>
					<input id="exampleInputFile" type="file">
        -->

				</div>
        <center>
				<button type="submit" class="btn btn-default">
					Login
				</button>
        </center>
			</form>

		</div>
		<div class="col-md-4">
      <h2 color = "green">
				¿Por qué Sineti?
			</h2>
			<p>


   Sineti es una Organización Mexicana formada por profesionales con experiencia en SAP®.
   Iniciamos en 1996 trabajando en las primeras implantaciones de SAP®,en nuestro País.

			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2 color = "green">
				Casos de Éxito
			</h2>
			<p>


   “Estamos orgullosos de poder afirmar que hoy somos el distribuidor de refacciones
   para camiones y tracto camiones con la mejor logística de entrega, con un porcentaje
   optimo en el nivel de servicio y tiempo de entrega”. Eduardo Arreguin Meza,
   Director General.

			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>

</div>
<div class="row">
  <!-- inicia renglon dos con cuatro columnas -->
  <div class="col-md-4" ng-controller="Control">
    <h2 color = "green">Evaluacion </h2>
    <section>

    <blockquote ng-repeat = "comentario in comentarios">

      Estrellas  : {{comentario.estrellas}}<br/>
      Comentario : {{comentario.texto}} <br/>
      Usuario    : {{comentario.usuario}} <br/>
     </blockquote>
     <cite>Deja tu un comentario</cite>
     <ul class="nav nav-pills">
       <li > <a href ng-click = "tab = 1"> Grupo CFDI </a> </li>
       <li > <a href ng-click = "tab = 2">  Sineti </a></li>
     </ul>

<!-- ***************************************************************************************-->
     <div class="panel" ng-show= "tab === 2" >
       <form >
         <h3 > Sineti	</h3>
         <div class="form-group">
             <label for="sel1">Evaluar</label>
             <select class="form-control" ng-model="nuevoComentario.estrellas">
               <option>1 estrella</option>
               <option>2 estrellas</option>
               <option>3 estrellas</option>
               <option>4 estrellas</option>
               <option>5 estrellas</option>
             </select>
            </div>
            <br/>
         <div class="form-group">
 					<label for="comentario">			Comentario			</label>
 					<input placeholder="Deja un comentario" class="form-control" type="text" ng-model="nuevoComentario.texto">
          <label for="usuario">						Usuario 					</label>
          <input class="form-control" placeholder="usuario@gmail.com" type="text" ng-model="nuevoComentario.usuario">
 				</div><br/>
        <center>
         <button type="submit" class="btn btn-default" ng-click="agregarComentario()">Comentar</button>

      </center>

       </form>
     </div>

     <div class="panel" ng-show= "tab === 1">
         <p > Esta seccion no se encuentra disponible por el momento </p>

     </div>

   </section>
   <button type="submit" class="btn btn-default" ng-click="limpiar()"> Limpiar lista </button>
  </div>
  <!-- Inicia renglon dos con cuatro columnas-->
  <center>
      <div class="col-md-4" ng-controller="Control">
  			<h2 color = "green">
  				Industrias
  			</h2>
        <ul>
           <li ng-repeat="libro in libros">
               {{libro.titulo}}
               <p> Lugares disponibles : {{libro.autor}}</p>
               <p> : {{libro.autor}}</p>
               Licencias disponibles :
               <select ng-model="licencias">
                 <option value="1" >1 </option>
                 <option value="2" >2 </option>
                 <option value="3" >3 </option>
                 <option value="4" >4 </option>
                 <option value="5" >5 </option>
               </select> <br/>
               Total : {{licencias}}
           </li>
       </ul>
       <section>
         <ul class="nav nav-pills" >
           <li > <a href ng-click = "tab = 1"> Descripcion </a> </li>
           <li > <a href ng-click = "tab = 2"> Costos </a></li>
           <li > <a href ng-click = "tab = 3"> Ventajas </a></li>
         </ul>

       </section>
       <div class="panel" ng-show= "tab === 1" >
         <h2> Descripcion </h2>
         <h3> No disponible </h3>
  		</div>
      <div class="panel" ng-show= "tab === 2">
        <h2> Costos </h2>
        <h3> No disponible</h3>
     </div>
     <div class="panel" ng-show= "tab === 3">
       <h2> Ventajas </h2>
       <h3> Ir a la seccion de ventjas en la barra principal </h3>
    </div>
    </center>
    <center>
        <div class="col-md-4" ng-controller="Control">
    			<h2 color = "green">
    				Comunicacion http
    			</h2>

         <section>
           <ul class="nav nav-pills" >
             <li > <a href ng-click = "tab = 1"> GET </a> </li>
             <li > <a href ng-click = "tab = 2"> POST </a></li>
           </ul>

           <div class="panel" ng-show= "tab === 1" >
             <ul>
                <li ng-repeat="post in posts">
                    {{post.title}}
                    <p> : {{post.body}}</p>
                </li>
            </ul>
      		</div>

          <div class="panel" ng-show= "tab === 2">

              <input class="form-control"  type="text" ng-model="nuevoPost.title">
              <input class="form-control"  type="text" ng-model="nuevoPost.body">
              <button type="submit" class="btn btn-default" ng-click="agergaPost()"> Enviar post </button>
              <label> Una vez que lo envies ve a la seccion GET y revisa si esta tu post hasta abajo </label>
         </div>

        </center>
  	</div>
    <div class="row">
      <div class="col-md-6" ng-controller="Control">
      <center>
        <h2 color = "green">
          Local storage
        </h2>
      </center>


      </center>
  </div>
    </div>
    <!-- Acaba renglon dos con cuatro columnas-->

</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
